@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
background: aliceblue;
font-family: 'Montserrat', sans-serif;
}
.container {
width: 320px;
height: 490px;
border-radius: 20px;
border-radius: 18px;
background: #7007a0;
box-shadow: 5px 5px 10px #be2e9e,
-5px -5px 10px #a9fff9;
margin: 0 auto;
padding: 32px 16px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.container .result {
width: 100%;
height: 100px;
border-radius: 10px;
border-radius: 18px;
background: #090909;
box-shadow: 5px 5px 10px #dc7dda,
-5px -5px 10px #ffffff;
}
.container .result p {
font-size: 25pt;
overflow-y: auto;
text-align: right;
color: white;
padding-right: 10px;

}
.container .buttons {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1em;
}
.container .buttons .button, .container .buttons .num-button {
cursor: grab;
text-align: center;
width: 60px;
font-size:18px;
height: 60px;
display: grid;
place-content: center;
border-radius: 20px;
border-radius: 18px;
background: #15151c;
box-shadow: 5px 5px 10px #bf08cc,
-5px -5px 10px #ffffff;
color: #ffffff;
}
.button:hover{
color: #245a8f;
border-radius: 20px;
background: #d11a1a;
box-shadow: 5px 5px 10px #a31414,
-5px -5px 10px #ff2020;
}
/* Big Button */
.container .buttons .zero {
grid-column: 1/ 3;
width: 100%;
font-size: 20px;
color: white;
border-radius: 10px;
border-radius: 18px;
background: #141111;
box-shadow: 5px 5px 10px #a70794,
-5px -5px 10px #ffffff;
}
.action-btn {
color: grey;
font-weight: bold;
}
.calc-action-btn{
color: white;
font-size: 60px;
font-weight: bold;
}